<h2>New Administrator</h2>

<%= render "form.html", changeset: @changeset,
                        sub_form: "administrator_form.html",
                        opts: [hospitals: @hospitals],
                        action: registration_path(@conn, :create_administrator) %>

<%= link "Back", to: registration_path(@conn, :index) %>
