<h2>New patient</h2>

<%= render "form.html", conn: @conn,
                        changeset: @changeset,
                        sub_form: "patient_form.html",
                        opts: [],
                        action: registration_path(@conn, :create_patient) %>
