<h2>New Patient</h2>

<%= render "form.html", changeset: @changeset,
                        sub_form: "patient_form.html",
                        opts: [doctor_options: @doctor_options],
                        action: registration_path(@conn, :create_patient) %>

<%= link "Back", to: page_path(@conn, :index) %>
