<%= inputs_for @u, :patient, fn p -> %>
  <div class="form-group">
    <%= label p, :primary_doctor_id, class: "control-label" %>
    <%= select p, :primary_doctor_id, @doctor_options, class: "form-control" %>
    <%= error_tag p, :primary_doctor_id %>
  </div>
  <%= form_group p, :proof_of_insurance %>
  <%= form_group p, :emergency_contact_name %>
  <%= form_group p, :emergency_contact_phone %>
<%= end %>