<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello Hnet!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://use.fontawesome.com/4c272d4bbc.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link "HNet", to: page_path(@conn, :index), class: "navbar-brand" %>
        </div>

          <ul class="nav navbar-nav navbar-right">
            <%= if @current_user do %>
              <%= form_for @conn, auth_path(@conn, :logout), [as: :logout, id: "logout-form", hidden: true], fn _ -> %>
              <%= end %>
              <li><a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a></li>
            <%= else %>
              <li><%= link "Sign Up", to: registration_path(@conn, :new_patient) %></li>
              <li><%= link "Sign In", to: auth_path(@conn, :login) %></li>
            <%= end %>
          </ul>
      </div>
    </nav>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
