<%= inputs_for @form, :nurse, fn f -> %>
  <div class="form-group">
    <%= label f, :hospital_id, class: "control-label" %>
    <%= select f, :hospital_id, get_hospital_options(), class: "form-control" %>
    <%= error_tag f, :hospital_id %>
  </div>
<%= end %>